*.swp
*.lo
*.la
*.o
*.gz
*.zip
*.patch
*.deps
*.libs
*.cache
.dirstamp
*.user
tags
build-aux/
Makefile.in
Makefile
config.*
libtool
examples/client/client
examples/echoclient/echoclient
examples/server/server
examples/echoserver/echoserver
testsuite/testsuite
testsuite/output
taocrypt/test/test
taocrypt/benchmark/benchmark
stamp-h1
output
